.symptom-form-container {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--shadow-lg);
}

.symptom-form-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.symptom-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.symptom-input-container {
  position: relative;
}

.symptom-input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid var(--primary-light);
  border-radius: 0.75rem;
  font-size: 1rem;
}

.remove-symptom-btn {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.add-symptom-btn,
.submit-btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-symptom-btn:hover,
.submit-btn:hover {
  background-color: var(--primary-dark);
}

.add-symptom-btn:active,
.submit-btn:active {
  transform: translateY(1px);
}

.add-symptom-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.submit-btn {
  margin-top: 1rem;
}
